
@media(max-width: 768px){
    main {
        display: none;
    }
    .for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: $dark-blue;
        color: $pure-white;
      
        text-align: center;

        i {
            display: block;
            font-size: 10rem;
            padding-bottom: 30px;
        }

        p {
            padding: 10px 30px;
            display: block;
            font-size: 3rem;
            text-align: center;
        }

    }

    header {
        h1 {
            font-size: 5rem;
        }
        h2 {
            font-size: 3rem;
        }
    }
}

@media(min-width: 769px){
    .for-mobile {
        display: none;
     
    }
    header {
    .hero-img {
        background-image: url('../img/hero-bg.jpg');
    }
}
}
